<div class="product__card">
  <a href="{{ product.url }}">
    {% if product.featured_image %}
      <figure>
        <img src="{{ product.featured_image |  image_url: width: 300  }}" alt="{{ product.featured_image.alt | escape }}" />
      </figure>
    {% else %}
      <figure>
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </figure>
    {% endif %}
  </a>
  <div class="product__card-desc">
    <p>{{ product.vendor }}</p>
    <a href="{{ product.url }}">{{ product.title }}</a>
    <p>{{ product.price |  money }}</p>
  </div>
  {% render 'wishlist-button', product: product %}
</div>