<div class="container">
  <div class="wrapper">
    <div class="header--flex">
      <a href="/" class="header--logo"><img src="{{ section.settings.header_logo | img_url: 'master' }}" alt="{{ site.name }}"></a>

      <button class="header--hamburger">
        <span class="header--hamburger-bar"></span>
        <span class="header--hamburger-bar"></span>
        <span class="header--hamburger-bar"></span>
      </button>

      <ul class="header--nav">
        {% for link in section.settings.navigation.links %}
          <li class="header--nav-item">
            <a class="header--nav-anchor" href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links != blank %}
              <ul class="header--sub-nav">
                {% for child in link.links %}
                  <li class="header--sub-items">
                    <a href="{{ child.url }}" class="header--sub-anchor">{{ child.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <!-- Icons Section -->
      <ul class="header--icons">
        <li><a href="javascript:void(0);" class="icon-link" id="search-icon">{% render 'icon-search' %}</a></li>
        {% if shop.customer_accounts_enabled %}
          <li>
            <a href="{{ routes.account_login_url }}" class="icon-link">{% render 'icon-account' %}</a>
          </li>
        {% endif %}
        <li><a href="{{ pages['wishlist'].url }}" class="icon-link">{% render 'icon-wishlist' %}</a></li>
        <li><a href="{{ routes.cart_url }}" class="icon-link">{% render 'icon-cart' %}</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="search-container" class="search-hidden">
  <form action="{{ routes.search_url }}" method="get" role="search">
    <input type="text" name="q" placeholder="Search..." />
    <button type="submit">
      {% render 'icon-search' %}
    </button>
    <span id="search-close">✖</span>
  </form>
</div>


<div class="header--nav-overlay"></div>

{% style %}
  .header--logo{
    max-width: {{ section.settings.logo_width }}px;
  }
{% endstyle %}

<script>
  document.querySelector('.header--hamburger').addEventListener('click', function(){
    document.querySelector('.header--nav').classList.toggle('nav--active');
    document.querySelector('.header--nav-overlay').classList.toggle('nav--active');
  });

  document.querySelector('.header--nav-overlay').addEventListener('click', function(){
    document.querySelector('.header--nav').classList.remove('nav--active');
    document.querySelector('.header--nav-overlay').classList.remove('nav--active');
  });
</script>


{% schema %}
{
  "name": "header",
  "tag": "header",
  "class": "header",
  "settings": [
      {
        "type": "image_picker",
        "id": "header_logo",
        "label": "Header Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 100,
        "min": 20,
        "max": 300,
        "step": 5
      },
      {
        "type": "link_list",
        "id": "navigation",
        "label": "Navigation Menu",
        "default": "main-menu"
      }
    ]
}
{% endschema %}