<article itemscope itemtype="http://schema.org/BlogPosting">
  <a href="{{ blog.url }}">{{ blog.title }}</a>
  {% for block in section.blocks %}
      {% case block.type %}
        {% when 'article_title' %}
          <h1 itemprop="headline">{{ article.title }}</h1>
        {% when 'article_author' %}
          {% if section.settings.enable_author %}
            <div itemscope itemtype="http://schema.org/Person">
              <small itemprop="author">{{ article.author }}</small>
            </div>
          {% endif %}
        {% when 'article_date' %}
          {% if section.settings.enable_date %}
            <time itemprop="datePublished dateCreated" datetime="{{ article.published_at | date: '%Y-%m-%d' }}"> {{ article.published_at | date: '%Y-%m-%d' }} </time>
          {% endif %}
        {% when 'article_image' %}
          <div itemprop="image">
            {% if article.image != blank %}
              <img src="{{ article.image | img_url: 'large' }}" loading="lazy" alt="{{ article.image.alt }}">
            {% else %}
              {% assign placeholder_img = 'lifestyle-2' %}
              {{ placeholder_img | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        {% when 'article_content' %}
          <div itemprop="articleBody">
            {{ article.content }}
          </div>
        {% else %}
      {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments">
    {% if article.comments_count > 0 %}
      <div>
        <h1>See what people are saying</h1>

        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div>
              <span>{{ comment.author }}</span> <span>{{ comment.created_at | date: format: 'default' }}</span>
              <p>{{ comment.content }}</p>
            </div>
          {% endfor %}
          <div class="pagination__container">
            {% render 'pagination', pagination: paginate %}
          </div>
        {% endpaginate %}
      </div>
    {% else %}
        There are no comments yet.
    {% endif %}
  </div>

  <div id="comment_form">
    {% form 'new_comment', article %}
      {% if form.errors %}
        <div>
          {% render 'icon-failed' %}
          <p>Oh no ! your comment was not posted</p>
        </div>
        <ul>
          {% for error in form.errors %}
            <li><span>{{ form.errors.messages[error] }}</span></li>
          {% endfor %}
        </ul>
      {% elsif form.posted_successfully? %}
        {% render 'icon-success' %}
        <p>Comment is posted successfully</p>
      {% endif %}
      <div>
        <label for="comment_autor">Name</label>
        <input type="text" id="comment_autor" name="comment[author]" placeholder="Jane Doe" required>
      </div>
      <div>
        <label for="comment_email">Email</label>
        <input type="email" id="comment_email" name="comment[email]" placeholder="jandoe@email.com" required>
      </div>
      <div>
        <label for="comment_body">Comment</label>
        <textarea id="comment_body" name="comment[body]" required></textarea>
      </div>
      <button type="submit" value="Post comment" class="comment_btn">Submit</button>
    {% endform %}
  </div>
{% endif %}


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article.image | img_url: 'medium' | prepend: 'https:' | json }}
      ]
    {% endif %},
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%S%z' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%S%z' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>



{% schema %}
{
  "name": "Article",
  "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "enable_date",
        "default": true,
        "label": "Show date"
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_date",
        "name": "Date",
        "limit": 1
      },
      {
        "type": "article_image",
        "name": "Image",
        "limit": 1
      },
      {
        "type": "article_content",
        "name": "Content",
        "limit": 1
      }
    ]

}
{% endschema %}