{% paginate blog.articles by section.settings.number_of_blog_post %}
  {% for article in blog.articles %}
    <div class="blogs_card">
      {% if article.image %}
        <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}" />
      {% else %}
        <div style="width: 240px; height: 160px;">
          {{ 'image' | placeholder_svg_tag }}
        </div>
      {% endif %}
      <h1>{{ article.title }}</h1>

      {% if section.settings.show_excerpt %}
        {% if article.excerpt.size > 0 %}
          <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
        {% endif %}
      {% endif %}

      <a href="{{ article.url }}">{{ section.settings.read_more_text }}</a>

    </div>
  {% endfor %}
  <div class="pagination__container">
    {% render 'pagination', pagination: paginate %}
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "number_of_blog_post",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Blog Post per page",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show Excerpt",
      "default": true
    },
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Read More Text",
    }
  ]
}
{% endschema %}
